<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div class="w-100">
				<h3 class="f6 b lh-title mb4 white tc">特定非営利活動法人リンクト・オープン・データ・イニシアティブ</h3>
				<ul class="mb3 tc">
					<li class="di ph3 f6"><a href="/" class="link">Home</a></li>
					<li class="di ph3 f6"><a href="/solutions" class="link">ソリューション</a></li>
					<li class="di ph3 f6"><a href="/articlesincorporation" class="link">定款</a></li>
					<li class="di ph3 f6"><a href="/privacypolicy" class="link">個人情報保護方針</a></li>
					<li class="di ph3 f6"><a href="/post" class="link">Blog</a></li>
					<li class="di ph3 f6"><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

		</div>

		<div class="measure-narrow center mb4">

			<img src="/img/lodi_logo_vw.svg" alt="Linked Open Data Initiative" class="db w3 center mv4 br0">

		</div>

	</div>

</footer>

{{ partial "svg" . }}
