{{ define "main" }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">

    <img src="{{ .Params.logo.image }}" 
      alt="{{ .Params.logo.alt }}" 
      class="db w5 center pv4">

    {{ range .Params.values }}
      <h3 class="f4 b lh-title mv4">{{ .heading }}</h3>
      <p>{{ .text }}</p>
      {{ if .table }}
        <table border="1" cellspacing="0" cellpadding="10" style="margin:0 0 30px 0">
          <tbody>
          {{ range .table }}
            <tr>
              <th width="120" nowrap="nowrap">
                {{ .head | safeHTML }}
              </th>
              <td>
                {{ .data | safeHTML }}
              </td>
            </tr>
          {{ end }}
          </tbody>
        </table>
      {{ end }}

      {{ range .steps }}
        <div class="box1">
          <h4>{{ .heading | safeHTML }}</h4>
          <p>{{ .text | safeHTML }}</p>
        </div>
      {{ end }}
    {{ end }}

    <div class="flex-ns mv4">
      {{ range .Params.contact_entries }}
      <div>
        <h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
        <p>{{ .text }}</p>
      </div>
      {{ end }}
    </div>

	</div>

</div>

{{ end }}
