{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div id="statutes" class="mw6 center ph3 pv4">
  {{ range .Params.values }}
    {{ if .heading }}
      <h3 class="f4 lh-title b mv5">{{ .heading }}</h3>
    {{ end }}
    <p>
      {{ .text }}
    </p>
    {{ if .list }}
      <ol class="indent3 ml4 mt3" style="list-style-type: lower-roman;">
        {{ range .list }}
          <li>{{ . }}</li>
        {{ end }}
      </ol>
    {{ end }}
  {{ end }}
</div>

{{ end }}
